
<!-- 
<div class = "container form-group"><br><br><br><br><br>
<h1 style="font-size: 50px; text-shadow: 1px 1px 2px black; font-family: Arial, Helvetica, sans-serif; color:beige; font-weight: bolder">Upload TXT or CSV file</h1>
</div> -->

<form action="#" method="POST">
<div id="wrapper">
  <div id="page-wrapper">
      <div class="row">
          <div class="container">
              <div id="identitycard" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                  <div class="panel panel-info">
                      <div class="panel-heading">
                          <div class="panel-title" style="font-size: 35px; text-shadow: 1px 1px 3px beige; font-family: Arial, Helvetica, sans-serif; color:rgb(15, 80, 124); font-weight: bolder; text-align: center">Upload File </div>
                      </div>
                      <div class="panel-body">
                          <div class="row">
                              <p style="padding: 8px;" class="text-center">Please upload files with .txt or .csv formats only. </p>
                          </div>
                          <div class="row" style="padding: 10px 15px 9px;">

                                      <div class="row" style="margin-bottom: 20px;">
                                          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-md-offset-3 col-sm-offset-3 col-xs-offset-2"> 
                                              <input id="input-b2" name="input-b2" type="file" class="file" data-show-preview="true" (change)="fileUploaded($event)"  #inputb2> 
                                          </div>
                                      </div>
                                      <div class="row text-center" style="padding-left: 80px;padding-right: 80px;">
                                          <a href ="/" type="submit" class="btn btn-sm btn-block btn-success" style="border-radius: 50px;background-color: hover: #35832f; font-size: 25px">Submit</a>
                                      </div>  <br>
                                      
                                      <div class="row text-center" style="padding-left: 80px;padding-right: 80px;">
                                        <a href="http://localhost:8002/logout" type="submit" class="btn btn-sm btn-block btn-danger" style="border-radius: 50px;background-color: hover: #35832f; font-size: 25px">Logout</a>
                                    </div>                                                 
                                                                                                                
                    
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        
  </div>
</div>
</form>